body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .8);
  font-family: 'Open Sans', sans-serif;
  color: #333;
  overflow: auto;
  text-align: center;
}

strong {
  color: #fff;
}

h1 {
  margin: 0 0 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.fade {
  transition: opacity 250ms ease-in;
}

.gutter {
  position: absolute;
  left: 0;
  top: 0;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  margin: 0 auto;
  width: 476px;
  display: table;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, .4);
}

.modal main {
  position: relative;
  padding: 2rem 2rem .5rem;
}

.modal #close {
  color: inherit;
  position: absolute;
  right: .8rem;
  top: .8rem;
  text-decoration: none;
}

.modal #close:hover {
  cursor: pointer;
}

.modal #close::before {
  content: "";
  display: block;
  content: "\00D7";
  font-size: 2em;
  color: inherit;
  line-height: .6em;
  width: 100%;
  height: 100%;
}

.modal #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal #loading img {
  max-width: 4rem;
}

.modal #logos {
  margin-bottom: 1rem;
  text-align: center;
}

.modal #logos img {
  width: 60px;
  height: 60px;
  margin: 0 .5rem;
}

.modal #content {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.modal form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.modal input,
.modal textarea {
  padding: .6em .8em;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  color: #8887a1;
}

.modal input[type="checkbox"] {
  min-width: 0;
  margin: 0 .5rem 0 0;
}

.modal form ::placeholder {
  color: #888;
}

.modal input,
.modal textarea {
  min-width: 9%;
  border: 1px solid #cacaca;
  color: inherit;
  margin-bottom: .5rem;
  background: #eee;
  flex: 1;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
  background: #fff;
  border-color: #333;
}

.modal input,
.modal textarea {
  resize: none;
}

.modal input[name="member[first_name]"],
.modal input[name="member[email]"] {
  min-width: 40%;
  max-width: 50%;
}

.modal input[name="member[first_name]"] {
  margin-right: .25rem;
}

.modal input[name="member[email]"] {
  margin-left: .25rem;
}

.modal input[name="member[street_address]"] {
  margin-right: .5rem;
  flex: 4;
}

.modal input[name="member[phone]"] {
  margin-left: .5rem;
  flex: 6;
}

.modal input[name="userPhone"] {
  margin-right: .5rem;
  flex: 3;
}

.modal textarea {
  min-width: 80%;
  max-width: 100%;
}

.modal input[type="submit"] {
  min-width: 100%;
  margin-bottom: 0;
  padding: 1rem;
  background-color: #49c7ae;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.modal input[type="submit"]:hover {
  cursor: pointer;
}

.modal .prompt input {
  margin-bottom: 0;
}

.modal .prompt input[type="submit"] {
  min-width: 0;
  flex: 2;
}

.modal .disclaimer, .modal .powered-by {
  width: 100%;
  color: #888;
}

.modal .disclaimer p {
  font-size: .667em;
  margin: .75em 0 0;
}

.modal .powered-by p {
  font-size: .9em;
}

.modal .powered-by a {
  color: #333;
  text-decoration: none;
}

.modal .powered-by a.button {
  font-size: .9em;
  background: #464242;
  color: #fff !important;
  padding: .3em .8em .4em;
  border-radius: 2px;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .modal .powered-by a.button {
    display: inline-block;
    margin-top: 1em;
  }
}

.modal .powered-by a:hover {
  text-decoration: underline;
}

.modal footer {
  padding: .5rem 2rem;
  background-color: #141037;
  border-radius: 0 0 .5rem .5rem;
  display: flex;
  align-items: center;
}

.modal footer.hidden {
  display: none;
}

.modal footer h3 {
  margin-right: .3rem;
}

.modal footer a {
  text-decoration: none;
}

.modal footer button {
  height: 2rem;
  margin-left: .5rem;
  padding: 0 .7rem;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  flex-basis: auto;
}

.modal footer button:hover {
  cursor: pointer;
}

.modal footer button img {
  height: 1rem;
  margin-right: .4rem;
}

.modal footer button span {
  line-height: 1.1rem;
}

.modal footer button.facebook {
  background-color: #2b48a7;
}

.modal footer button.twitter {
  background-color: #2c8be4;
}

.modal footer button.map {
  background-color: #49418f;
}

#script p {
  text-align: left;
  font-size: .8rem;
}

/* Variations */
body.fullscreen {
  background-color: #1e1b33;
  opacity: .89;
}

body.fullscreen .modal {
  position: unset;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

body.money h1 {
  color: #ffc11a;
}

body.stop h1 {
  color: #ff3232;
}

body.slow h1,
body.without h1 {
  background: linear-gradient(#4eb1f1, #6b74fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #279cff;
}

body.money .modal input[type="submit"] {
  background-color: #dea50a;
}

body.stop .modal input[type="submit"] {
  background-color: #ff3232;
}

body.slow .modal input[type="submit"],
body.without .modal input[type="submit"] {
  background-color: #6679fc;
}

/* Animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading img,
body.slow #logos img {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes modal {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.modal {
  animation-duration: 1s;
  animation-name: modal;
  animation-timing-function: ease-out;
}


/* Mobile */
@media (max-width: 674px) {
  .gutter {
    width: initial;
    max-width: 100%;
  }

  .modal {
    width: initial;
    max-width: 100%;
  }

  .modal input[name="member[first_name]"],
  .modal input[name="member[email]"] {
    min-width: 36%;
  }

  .modal input[name="member[street_address]"] {
    min-width: 15%;
  }

  .modal input[name="member[phone]"] {
    min-width: 80%;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .modal input[name="member[first_name]"],
  .modal input[name="member[email]"] {
    min-width: 33%;
  }
}
